<div class="ui three top attached steps" >
  <div class="active step">
    <i class="write icon"></i>
    <div class="content">
      <div class="title">Create a lobby</div>
      <div class="description">Choose a name, number of players and the game type</div>
    </div>
  </div>

  <div class="disabled step">
    <i class="setting icon"></i>
    <div class="content">
      <div class="title">Draft settings</div>
      <div class="description">Customize your draft experience</div>
    </div>
  </div>

  <div class="disabled step">
    <i class="clone icon"></i>
    <div class="content">
      <div class="title">Draft!</div>
      <div class="description">Draft your deck!</div>
    </div>
  </div>
</div>

<%= form_for @form, as: :lobby, html: { class: "ui form" } do |f| %>
  <div class="ui attached segment">
    <div class="fields">
      <div class="five wide field">
        <%= f.label "Lobby name" %>
        <%= f.text_field :name, placeholder: "Some lobby name" %>   
      </div>

      <div class="two wide field">
        <%= f.label "Number of players" %>
        <%= f.select :number_of_players, (1..8), {}, class: "ui dropdown" %>   
      </div>
    </div>


    <div class="field">
      <%= f.label "Game type" %>
      <%= f.select :game_type, @form.game_types, {}, class: "ui dropdown" %>
    </div>

    <%= button_tag "Create", class: "ui black button" %>
  </div>
<% end %>
