<h2>Generate Sealed</h2>
<%= form_tag controller: :sealeds, action: :create, method: :post do %>
  <%= select_tag :set1, options_from_collection_for_select(@sets, :id, :name), class: 'ui search dropdown' %>
  <br />
  <%= select_tag :set2, options_from_collection_for_select(@sets, :id, :name), class: 'ui search dropdown' %>
  <br />
  <%= select_tag :set3, options_from_collection_for_select(@sets, :id, :name), class: 'ui search dropdown' %>
  <br />
  <%= select_tag :set4, options_from_collection_for_select(@sets, :id, :name), class: 'ui search dropdown' %>
  <br />
  <%= select_tag :set5, options_from_collection_for_select(@sets, :id, :name), class: 'ui search dropdown' %>
  <br />
  <%= select_tag :set6, options_from_collection_for_select(@sets, :id, :name), class: 'ui search dropdown' %>
  <br />
  <br />
  <%= button_tag t(".get_cards"), class: "ui black button" %>
<% end %>
