<%= form_for @sealed, url: export_sealed_path(@sealed), method: 'post' do |f| %>
<div class="ui grid">
    <div class="thirteen wide column">
      <div class='ui container'>
        <%= render 'common/card', cards: @cards %>
      </div>
    </div>
    <div class="three wide column">
      <h3>Deck</h3>
      <%= submit_tag 'Exportar para TXT' %>
      <br>
      <br>
      <% @cards.each do |card| %>
        <p data-id=<%= card.id %>><%= card.name %></p>
      <% end %>
    </div>
</div>
<% end %>
