<%= form_for @search, url: cards_path, method: "get", html: { class: "ui form" } do |f| %>

  <div class="fields">
    <div class="field">
      <%= f.label :full_text_search %>
      <%= f.text_field :full_text_search %>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <%= f.label :card_type %>
      <%= f.text_field :card_type %>
    </div>

    <br />
    <div class="field">
      <%= f.label :colors  %>
      <%= f.select :colors, options_for_colors_select, {}, class: "ui search dropdown", multiple: "" %>
    </div>

    <div class="field">
      <%= f.label :cmc %>
      <%= f.select :cmc, options_for_select(0..17), { include_blank: true }, class: "ui compact search dropdown" %>
    </div>
  </div>
  <br />
  <%= f.submit "Search" %>
<% end %>

<div class='cards ui stackable five column grid container'>
  <%= render partial: "card", collection: @cards %>
  <%= paginate @cards %>
</div>
