<h2>Create a Draft</h2>
<%= form_for @draft do |f| %>
  <%= select_tag :booster1, options_from_collection_for_select(@sets, :id, :name), class: "ui search dropdown" %>
  <%= select_tag :booster2, options_from_collection_for_select(@sets, :id, :name), class: "ui search dropdown" %>
  <%= select_tag :booster3, options_from_collection_for_select(@sets, :id, :name), class: "ui search dropdown" %>
    <br />
    <br />
  <%= f.button class: "ui black button" %>
<% end %>
