<!DOCTYPE html>
<html>
  <head>
    <title>MTG Draft</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="top-bar ui secondary pointing segment menu">
      <% if current_user %>
      <%= link_to "Booster Draft", new_booster_path, class: "item #{active_class(:boosters)}" %>
          <%= link_to "Sealed", new_sealed_path, class: "item #{active_class(:sealeds)}" %>
          <div class="right menu">
            <div class="ui pointing dropdown link item">
              <span class="text">
                <img class="ui avatar image" src="<%= current_user.picture %>">
                <span>
                  <%= "#{current_user.first_name} #{current_user.last_name}" %>
                </span>
              </span>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item">
                  <a class="ui item" href="/logout">
                    Logout
                  </a>
                </div>
              </div>
            </div>
          </div>
      <% else %>
        <a href="/auth/google">Sign in with Google</a>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
